<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>zzzzzzz</h1>
		<p>Welcome</p>
		<p>I am building a blog.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/vijay_tweet">@vijay_tweet</a> or on the web at <a href="tildeuser.com">TildeUser</a>, xxxx exclusive xxxxxx <a href="facebok.com">here</a>.</p>
	</div>
</div>