<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="sidebar">
		<div id="logo">
			<%= link_to root_path do %>
				<%= image_tag "logo.png" %>
			<% end %>
		</div>

		<ul>
			<li class="category">Website</li>
			<li><%= link_to "Blog", root_path %></li>
			<li><%= link_to "About",about_path %> </li>
		</ul>

		<ul>
			<li class="category">Social</li>
			<li><a href="www.facebook.com/vijaynarayankutty">Facebook</a></li>
			<li><a href="www.twitter.com/vijay_tweet">Twitter</a></li>
			<li><a href="www.internetmango.com">InternetMango</a></li>
			<li><a href="mailto:vijaynarayankutty@gmail.com">Email</a></li>
		</ul>

		<% if !user_signed_in? %>
		<p class="sign_in">Admin Login</p>
		<% end %>
	</div>
	
	<div id="main_content">
		<div id="header">
			<% if current_page?(root_path) %>
				<p>All Posts</p>
			<% elsif current_page?(about_path) %>
				<p>About</p>
			<% else %>
			<%= link_to "Back to All Posts", root_path %>
			<% end %>
			 
			 <% if user_signed_in? %>
			     <div class="buttons">
			     	<button class="button"><%=link_to "New Post", new_post_path %></button>
			     	<button class="button">Logout</button> 
			     </div>
			 <% end %>
		</div>
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert") %>
			<% end %>

		<%= yield %>
	</div>



</body>
</html>
